---
import Layout from "../layouts/Layout.astro";
import { Grid } from "../components/Grid";
---

<Layout title="Canadian Express">
  <main>
    <h1 class="text-5xl">
      <span class="text-gradient">Canadian Express</span>
    </h1>
    <p class="description">
      This dashboard provides a convinient and user-friendly access to the latest invitation stats of the
      <a
        href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html"
        target="_blank"
      >
        Canadian Express Entry</a
      > programm.
    </p>
    <Grid client:only />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 1200px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .description {
    margin-block: 1rem;
  }
</style>
