---
export interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="link-card">
  <h2>{title}</h2>
  <p>{body}</p>
</div>
<style>
  .link-card {
    color: #444;
    padding-inline: 1rem;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
</style>
