---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Express Entry data dashboard" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  h3 {
    margin-block: 0.5rem;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "update distribution distribution"
      "size distribution distribution"
      "passing distribution distribution"
      "cumulative cumulative cumulative";
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .card {
    line-height: 1.6;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .cumulative-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  @media (max-width: 600px) {
    .grid {
      grid-template-areas:
        "update size passing"
        "distribution distribution distribution"
        "cumulative cumulative cumulative";
      grid-template-columns: 1fr 1fr;
    }

    .cumulative-title-container {
      flex-direction: column;
      align-items: initial;
      justify-content: initial;
    }
  }
</style>
